# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
/.idea
/docker/db/datastore
/docker/db/pgadmin4

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.envrc

# docker
docker-compose.override.yaml
